<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task-3.1.xsd">

    <!-- service层以及dao层配置文件 -->
    <context:property-placeholder location="classpath:config/config.properties"/>

    <context:annotation-config />

    <context:component-scan base-package="cn.javier">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="redis"/>
    <!-- 开启autowired -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!--<bean id="taskType" class="com.yscredit.pgp.mybatis.model.TaskType"/>-->
    <import resource="classpath:config/spring-redis.xml"/>
    <!-- 开启对@AspectJ面向切面注解的支持 -->
    <!--<aop:aspectj-autoproxy/>-->

</beans>
